@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Titan+One&display=swap');

body {
    /*background: no-repeat url(fd-écran\ B.png);*/
    /*background-size: 100% 50rem;*/
    background-color: rgb(151, 252, 218) ;
}

h1 { 
    font-family: "Rubik Bubbles", system-ui;
    font-size: 7rem;
    margin-top: -1rem;
    color: hotpink;
    
}

#imageBarbouille1 {
    width: 250px;
    
}


#imageB {
    position: relative;
    width: 110px;
}




picture {
    position: absolute;
    top: 22rem; left: 40rem;
}


.btnchgmtpage {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    padding: 0.6em;
    border-radius: 5px;
    background-color: hotpink;
    border: 1px solid #444; 
    position: absolute;
    
    font-size: 1.5rem;
}


#p1 {
    top: 8.5em; left: 30rem;
}

#p2 {
    top: 8.5em; left: 52rem;

}

.perso {
    background-color: white;
    border-radius: 3px;
    border: 3px solid #000000;
    font-family: "Titan One", sans-serif;
    padding-top: 1rem;

}
